@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFontName';
  src: url('/fonts/Cairo-Light-BF643384ef1c5f4.ttf') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Somar';
  src: url('/fonts/alfont_com_SomarGX.ttf') format('woff2');
  font-style: normal;
}

main{
  min-height: calc(100vh - 457px);
}
.swiper-wrapper{
  align-items: center !important;
}